/* This is just temporary styling - this will change */

body {
    background-color: black;
}

div {
    color: #2222DD;
    border-radius: 10px;
    border: 4px solid #22DD22;
    padding: 5px;
    margin: 5px;
}

h1, p {
    font-family: "Cambria Math";
}

button {
    color: orange;
    border-radius: 5px;
    font-color: white;
}