body {
    background-color: lightblue;
}

div {
    color: green;
    border-radius: 10px;
    border: 4px solid green;
    padding: 5px;
    margin: 5px;
}

h1, p {
    font-family: "Cambria Math";
}
